<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand">Catalog App</a>
            <form class="form-inline" action="/disconnect">
                <a class="navbar-brand">{{creatorMail}}</a>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
            </form>
        </nav>
        <div class="row mt-sm-4">
            <div class="col-sm">
                <h3>Categories</h3>
                <div id="grouplist" class="list-group">
                    {% for i in categories %}
                    <a href="#" class="list-group-item list-group-item-action">
                        {{i.name}}
                    </a>
                    {% endfor %}
                </div>
                <form action="{{ url_for('newCategory')}}" method = 'post'>
                    <div class="input-group mb-3">
                        
                        <input type="text" class="form-control" name="categoryName" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Add</button>
                        </div>

                    </div>
                </form>
            </div>
            <div class="col-sm">
                <h3>Items</h3>
                <div class="list-group">
                    {% for i in items %}
                        <div class="card">
                            <img class="card-img-top" src="{{i.imgSource}}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{i.title}}</h5>
                                <p class="card-text">{{i.description}}</p>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="card border-success mt-3">
                        <div class="card-header">Add a item to the List:</div>
                        <div class="card-body">
                            <form action="{{ url_for('newItem')}}" method = 'post'>
                                <div class="form-group mb-3">
                                    <label for="itemTitle">Header</label>
                                    <input type="text" class="form-control" name="itemTitle" aria-label="" aria-describedby="basic-addon2">
                                    <label for="itemDesc">Description</label>
                                    <input type="text" class="form-control" name="itemDesc" aria-label="" aria-describedby="basic-addon2">
                                    <label for="itemImg">Image URL</label>
                                    <input type="text" class="form-control" name="itemImg" aria-label="" aria-describedby="basic-addon2">

                                    <button class="btn btn btn-primary" type="submit">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script>
    $(function () {
        $('#grouplist').on('click', function (e) {
            console.log("clicked");
            window.location.href = "/"
        })
    })
    </script>
</body>

</html>